/* GENERAL  */

body {
    margin:0;
}

a {
     text-decoration: none;
 }
    




/*  HEADER     */

.logo {
    background: url("../images/HKLogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height:64px;
    min-width:224px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all.51s ease-in-out;
    
}

.bg-photo {
    position:relative;
    top:80px;
    background-size:contain; 
    background-repeat: no-repeat;
    width:100vw;
    height:90vh;
    border:0;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all.51s ease-in-out;

} 


/* .bg-photo {
    position:relative; */
    /* background-size:contain; */
    /* background-repeat: no-repeat; */
/*    object-fit: cover;
    max-width: 100%;
    height: auto;
    border:0;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all.51s ease-in-out;
} */

.col-12-photo {
    background-color:purple;
}

.navbar {
    background-color: #facb0d;
}

.social-nav {
    
}

.social-fb {
    border: solid red;
}



/*   MIDDLE SECTION */

.aside-col {
    background-color: #0dcbfa;
    padding-left:20px;
    padding-bottom:500px;
}

.aside-item {
    margin-bottom:20px;
        

}

.section-column {
    padding-bottom:200px;
}

h1 {
    text-align: center;
}

.col-md-4 {
    background-color: pink;
}

.col-md-8 {
    background-color: orange;
    margin-left:0;
}



/* FOOTER DETAILS    */

/* FOOTER */

.footer {
    border: solid red;
}

footer .col-sm-4 {
    background-color: grey;
}

footer p {
    margin-bottom: 0px;
}

.col-sm-8 {
    background-color: green;
    margin-left:0;
}
