/*                                                                   GENERAL  */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700|Open+Sans:100,400,700');

body {
    margin: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;

}



.container-fluid {
    padding: 0;
}

a {
    text-decoration: none;
}



/*                                                                  HOME PAGE */

/*                                                                   <header> */

.logo {
    background: url("../images/high-kings-logo_small.jpg");
    min-height: 64px;
    min-width: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all.51s ease-in-out;
}


/*                                        Bands photo positioning and details */

.photo-pos {
    position: relative;
    top: 80px;
    left: 0px;
}

.photo-bg {
    background-position: center;
    background-image: url("../images/hk.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 448px;
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-menu-spacing {
    padding-left: 65px;
}

@media(min-width:1367px) {
    .nav-menu-spacing {
        padding-left: 80px;
    }
}



.band-section {
    background-color: #f3f2f2;
}

.band-details {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    padding: 50px;
}

/*                                                             MEDIA QUERIES */

@media(min-width:768px) {
    .photo-bg {
        background-image: url("../images/high-kings-band.jpg");

    }
    .logo {
        background: url("../images/high-kings-logo.jpg");
        min-height: 64px;
        min-width: 225px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all.51s ease-in-out;
    }
}


.list-item a i {
    display: block;
    color: #3d3d9c;
    font-size: 26px;
}

.list-item a {
    width: 100%;
    text-decoration: none;
    color: #fff;
}



.bg-color {
    background-color: #fafaf2;
}

.social-nav {
    padding-top: 16px;
}

.social-nav a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 16px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}




.social-nav-link {
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-nav-icon {
    width: 42px;
    height: 42px;
    text-align: center;
}

.social-fbk {
    background-color: #3b5998;
    border-radius: 50%;

}


.social-twt {
    background-color: #38A1F3;
    border-radius: 50%;

}

.social-itg {
    background-color: #bc2a8d;
    border-radius: 50%;



}

.social-ytb {
    width: 26px;
    height: 26px;
    padding: 12px 0;
    font-size: 16px;
    line-height: 7px;
    text-align: center;
    background-color: #FF0000;
    border-radius: 50%;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}



/*   MIDDLE SECTION */

.main-pos {
    position: absolute;

}

.aside-col {
    padding-left: 20px;
    padding-bottom: 500px;
}

.aside-item {
    margin-bottom: 20px;


}

.section-column {
    padding-bottom: 200px;
}

h1 {
    text-align: center;
}

/*                                                         FOOTER DETAILS    */

.footer {
    border: solid red;
}

footer .col-sm-4 {
    background-color: grey;
}

footer p {
    margin-bottom: 0px;
}

.col-sm-8 {
    background-color: green;
    margin-left: 0;
}


/*                                                                 MUSIC PAGE */

.col-padding {
    padding-bottom: 200px;
}

.table {
    width: 160px;
    position: relative;
    background-color: #d2d6d2;
}

.playlist {
    background-color: #d6d2d2;
}

.videolist {
    background-color: #cfc9c9;
}

.video {
    width: 140;
    height: 78;
    padding: 20px;
}


.col-style {
    position: relative;
    top: 80px;
    margin: 0px;
}
