/*    This stylesheet is laid out as follows:            *
/*    1. Import Fonts
/*    2. Classes used in all pages - these are prefixed with "gen-"    */
/*    3. Classes used in index.html only - these are prefixed with "ind-"  */
/*    4. Classes used in tours.html only - these are prefixed with "tour-"  */
/*    5. Classes used in music.html only - these are prefixed with "mus-"  */
/*    6. Classes used in gallery.html only - these are prefixed with "gall-"  */
/*    7. Classes used in contact.html only - these are prefixed with "con-"  */

/*    NOTE: Where a class is modified by a Media Query, I have added the Media */
/*          Query after the relevant class.                                    */

/*  IMPORT FONTS - copied from google fonts         */

@import url('https://fonts.googleapis.com/css?family=Courgette:100,400,700|Crimson:100,400,700|Nunito:100,400,700');


/*      GENERAL - CLASSES USED IN ALL PAGES. These all begin with "gen-"      */

.gen-nav-menu-spacing {
    padding-left: 65px;
}

@media(min-width:768px) {
    .gen-nav-menu-spacing {
        padding-left: 55px;
    }
}

@media(min-width:1024px) {
    .gen-nav-menu-spacing {
        padding-left: 80px;
    }

}

@media(min-width:1025px) {
    .gen-nav-menu-spacing {
        padding-left: 180px;
    }

}

.gen-headings-h1 {
    font-family: "Courgette", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.gen-headings-h2 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 18px;
}


.gen-main-section {
    background-color: #f3f2f2;
}

.gen-set-pos {
    position: relative;
    top: 80px;
}

.gen-logo {
    background: url("../images/high-kings-logo_small.jpg");
    min-height: 64px;
    min-width: 180px;
    border-style: outset;
    border-width: 1px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all.51s ease-in-out;
}

@media(min-width:768px) {
    .gen-logo {
        background: url("../images/high-kings-logo.jpg");
        min-height: 64px;
        min-width: 225px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all.51s ease-in-out;
    }
}


/*        CLASSES USED IN INDEX.HTML.  These all begin with "ind-"            */

/*    Background photo of the border    */

.ind-bg-photo {
    background-position: center;
    background-image: url("../images/hk.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 465px;
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:768px) {
    .ind-bg-photo {
        background-image: url("../images/high-kings-band.jpg");
    }
}

.ind-band-member-photo {
    width: 40px;
    height: 40px;
}

.ind-headings-h2 {
    color: #d9d9d9;
}

.ind-headings-h3 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding-left: 5px;
    padding-bottom: 1px;
    color: #d9d9d9;
}

.ind-aside-items-text {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding: 5px;
    text-decoration: none;
    color: #d9d9d9;
}

.ind-aside-image {
    max-width: 100%;
    height: 50px;
}

.ind-page-padding {
    padding-bottom: 10px;
}

/* guitar icon is a shade of red. Trying to match with the color of the high kings icon on the tab */

.ind-guitar-icon {
    font-size: 26px;
    color: #c71f27;
}

.ind-aside-item-padding {
    padding-bottom: 20px;
}

.ind-aside-col {
    padding-right: 10px;
    padding-left: 20px;
    border-left: solid;
    border-color: #999999;
}

.ind-band-intro {
    font-family: "Courgette", sans-serif;
    font-weight: 100;
    font-size: 14px;
    padding: 5px;
}

.ind-band-intro-padding {
    padding-left: 10px;
}


.ind-band-details {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 12px;
    padding: 5px;
}

.ind-band-member {
    padding-left: 15px;
    padding-right: 15px;
}

.ind-band-member-name {
    font-size: 13px;
    font-weight: 700;
}


/*    Home icon  */

.list-item a i {
    display: block;
    /* color: #3d3d9c; */
    color: #c71f27;
    font-size: 26px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.list-item a i:hover {
    background-color: #c71f27;
    color: #fafafa;
}


.list-item a {
    width: 100%;
    text-decoration: none;
    color: #fff;
}



.navbar-style {
    background-color: #fafaff;
}



.social-links {
    padding-top: 16px;

}

/*         ".social-links a i" Copied from Rosie Resume Project and modified  */

.social-links a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 16px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


/*                            Found the social media icon colours on google   */

.social-fbk {
    background-color: #3b5998;
    border-radius: 50%;
}

.social-fbk:hover {
    background-color: #fafafa;
    color: #3b5998;
}

.social-twt {
    background-color: #38A1F3;
    border-radius: 50%;

}

.social-twt:hover {
    background-color: #fafafa;
    color: #38A1F3;
}


.social-itg {
    background-color: #bc2a8d;
    border-radius: 50%;
}

.social-itg:hover {
    background-color: #fafafa;
    color: #bc2a8d;
}

.social-ytb {
    background-color: #FF0000;
    border-radius: 50%;
}

.social-ytb:hover {
    background-color: #fafafa;
    color: #FF0000;
}



/*                                               MIDDLE SECTION */

/*                                               ASIDE SECTION             */

.cd-photo {
    height: 50px;
    width: 50px;

    /* Copied the following lines from w3c to center the image 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  */
}


/*                                                         FOOTER DETAILS    */

.footer {
    position: relative;
    background-color: #3b3b3b;
    color: #b3b3b3;
    margin-bottom: 0px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

/*                                                                 MUSIC PAGE */

.mus-col-padding {
    padding-bottom: 65px;
}

.mus-main-section {
    border: solid;
    border-color: #999999;
}


.mus-video-title {
    font-family: "Courgette", sans-serif;
    font-weight: 100;
    font-size: 16px;
    padding: 5px;
    text-decoration: none;
    color: inherit;
}

.mus-play-icon {
    font-size: 20px;
}

.mus-headphones-icon {
    font-size: 20px;

}

.mus-video {
    width: 240px;
    height: 150px;
    margin-top: 20px;
    border: solid #b3b3b3;
    border-width: 5px;
    border-style: inset;
    border-radius: 5px;
    background-color: #d2d6d2;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all.51s ease-in-out;
}

@media (min-width:1024px) {
    .mus-video {
        width: 300px;
        height: 180px;
    }
}

.mus-headings-h2 {
    color: #c71f27;
}


.mus-video-x {
    width: 270px;
    height: 150px;
    padding: 10px;
    margin: 20px;
    border: solid #999999;
    border-radius: 5px;
    background-color: #d2d6d2;
}



.mus-playlist-col {
    padding-right: 10px;
    padding-left: 20px;
    border: solid;
    border-color: #999999;
    background-color: #f3f2f2;
}

.mus-playlist-table {
    width: 240px;
    position: relative;
    background-color: #d2d6d2;

}

.mus-playlist {
    width: 216px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all.51s ease-in-out;
}

@media (min-width:1024px) {
    .mus-playlist-table {
        width: 300px;
    }
    .mus-playlist {
        width: 276px;
    }
}

/*                    Tours Page     */

.tour-title {
    background-color: #c71f27;
}

.tour-headings-h1 {
    padding: 5px;
    line-height: 60px;
    color: #fafafa;

}

.tour-table {
    font-size: 11px;
}

.table td {
    padding-right: 0px;
    padding-left: 2px;
}

@media (min-width:768px) {
    .tour-table {
        font-size: 16px;
    }
}



.tour-row {
    flex-wrap: nowrap;
}



.tour-button {
    font-weight: 700;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.tour-button:hover {
    background-color: #c71f27;
    color: #fafafa;
}

.gall-main-section {
    border: solid;
    border-color: #999999;
}

.gall-camera-icon {
    font-size: 20px;
}


.gall-image {
    max-height: 300px;
    max-width: 100%;
    padding: 5px;
}

.gall-row-padding {
    padding: 10px;
} 

.gall-title {
    background-color: #c71f27;
}

.gall-headings-h1 {
    padding-top: 5px;
    padding-bottom:5px;
    line-height: 60px;
    color: #fafafa;
    margin-bottom:0px;

}

.gall-image-title {
    font-family: "Courgette", sans-serif;
    font-weight: 100;
    font-size: 16px;
    padding: 5px;
    text-decoration: none;
    color: inherit;
}

/*    CONTACT PAGE CLASSES  */

.con-main-section {
    border: solid #999999;
}

.con-main-padding {
    padding-bottom: 80px;
}

.con-headings-h1 {
    padding-top: 10px;
    padding-bottom:10px;
    line-height: 60px;
    color: #171a1c;
}

.con-headings-h2 {
    color: #171a1c;
    padding-bottom: 20px;
}

.con-center-form {
    margin: 0 auto;
    width: 70%;
}

.con-message {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    
}






button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #c71f27;
    border-color: #c71f27;
}

/*         MODIFIED BOOTSTRAP CLASSES */

.container-fluid {
    padding: 0;
}



.nav-link {
    font-size: 12px;
}

@media (min-width:1025px) {
    .nav-link {
        font-size: 16px;
    }
}

/*   I want the text color to remain white on hover    */

.btn-warning:hover {
    color: #fff;
}
